/Archivo-C-S/nbproject/private/
/Archivo-C-S/build/
/DatagramaArchivo/nbproject/private/
/DatagramaArchivo/build/
/Memorama/nbproject/private/
/Memorama/build/
/ServidorMemorama/nbproject/private/
/ServidorMemorama/build/
/MergeSort/nbproject/private/
/MergeSort/build/
/Buscaminas/nbproject/private/
/Buscaminas/build/